*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    background-color: beige;
}
h1{
    font-size: 4.5rem;
    color: brown;

}
.volba{
    margin-bottom: 40px;
}
.volba button{
    font-size: 4rem;
    min-width: 150px;
    margin: 10px 10px;
    border-radius: 15px;
    border: none;
    background-color: rgb(0, 247, 255) ;
    color: azure;
    padding: 7.5px 7.5px;
    cursor: pointer;
    transition: background-color 0.5 ease;
}
.volba button:hover{
    background-color: rgb(0, 204, 255);
}
#hracDisplej, #pocitacDisplej{
    font-size: 3rem;
}
#vysledokDisplej{
    font-size: 6rem;
    margin:30px 0;
}
#displejSkorovanie{
    font-size: 2rem;
}

.zelenyText, #displejSkorovanieHraca{
    color: rgb(0, 128, 64);
}
.cervenyText, #displejSkorovaniePocitaca{
    color: rgba(255, 0, 0, 0.479);
}